
input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}


/* .meters {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .meterT {
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);   

  }
  .vertical-slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 350px;

 
  } */




  /* background-color: blue;
} */

/* .vertical-slider::-moz-progress-bar {
    background-color: blue;
}

.vertical-slider::-ms-fill {
    background-color: blue;
} */
