input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    writing-mode: vertical-lr;
    direction: rtl;
    width: 16px;
    vertical-align: bottom;
    /* background: #434343;
    box-shadow: -80px 0 0 80px #43e5f7;     */
}

input[type='range'][orient=vertical]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 20px;
    background-color: grey;
    color: royalblue;
    height: 30px;
    width: 30px;
}


.accent {
    accent-color: #007FFF;
}


.meters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.meter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.meter label {
    margin-bottom: 5px;
    font-weight: bold; /* Make the labels bold */
}

.meter span {
    margin-bottom: 5px;
}


.top-bar {
    background-color: #007FFF;
    color: white;
    width: 100%;
  }