<div class="flex_container">

    <div class="row">
    
        <div class="col-12">
    
                <!-- Your content here -->
    
                <div class="row">
                    <div class="top-bar">
                        <div class="top-bar-content">
                        Update Software
                </div>
                </div>
                </div>
                                    


    
                <div class="row flex-grow-1">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="updates-tab" data-bs-toggle="tab" href="#updates" role="tab"
                                aria-controls="updates" aria-selected="true">Available Updates</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="installed-tab" data-bs-toggle="tab" href="#installed" role="tab"
                                aria-controls="installed" aria-selected="false">Installed Updates</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="updates" role="tabpanel" aria-labelledby="updates-tab">
                        <!-- Content for Updates panel -->

dfggdfg

                    </div>
                    <div class="tab-pane fade" id="installed" role="tabpanel" aria-labelledby="installed-tab">
                        <!-- Content for Installed panel -->
dfgdsfg
dfgdsfg

                    </div>

            

            
                <div class="row">
                    <div class="footer">
                        <button class="btn btn-primary">Import From USB</button>
                        <button class="btn btn-primary">Install</button>
                        <button class="btn btn-primary">Rollback</button>
                        <button class="btn btn-primary">Export</button>
                        <button class="btn btn-primary">Export All</button>
                        <button class="btn btn-primary">View Report</button>
                    </div>
                </div>
    
            </div>
    
    </div>
    
    
    
    
    </div>