


<div class="ccontainer-fluid overflow-hidden">
    <h2>Admin Update</h2>



<div class="row">

    <div class="col-12">
        <div class="content">
            <!-- Your content here -->

            <div class="row">
                <div class="top-bar">
                    <div class="top-bar-content">
                      Engine Operation
                    </div>
                </div>
            </div>

            <div class="row">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="updates-tab" data-bs-toggle="tab" href="#updates" role="tab"
                            aria-controls="updates" aria-selected="true">Updates</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="installed-tab" data-bs-toggle="tab" href="#installed" role="tab"
                            aria-controls="installed" aria-selected="false">Installed</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="updates" role="tabpanel" aria-labelledby="updates-tab">
                        <!-- Content for Updates panel -->
                    </div>
                    <div class="tab-pane fade" id="installed" role="tabpanel" aria-labelledby="installed-tab">
                        <!-- Content for Installed panel -->
                    </div>
                </div>
        
            </div>
        
            <div class="row">
                <div class="footer">
                    <button class="btn btn-primary">Button 1</button>
                    <button class="btn btn-primary">Button 2</button>
                    <button class="btn btn-primary">Button 3</button>
                    <button class="btn btn-primary">Button 4</button>
                    <button class="btn btn-primary">Button 5</button>
                    <button class="btn btn-primary">Button 6</button>
                </div>
            </div>

        </div>
    </div>
</div>




</div>