<div class="flex_container">

    <div class="row" style="height: 50px;">
        <div class="top-bar">
            <div class="top-bar-content">
                Update Software
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" style="height: fit-content;">

        <li class="nav-item">
            <a class="nav-link active" id="updates-tab" data-bs-toggle="tab" href="#updates" role="tab"
                aria-controls="updates" aria-selected="true">Available Updates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="installed-tab" data-bs-toggle="tab" href="#installed" role="tab"
                aria-controls="installed" aria-selected="false">Installed Updates</a>
        </li>
    </ul>

    <div class="tab-content flex-grow-1 d-flex flex-column" id="myTabContent">

        <div class="tab-pane fade show active" id="updates" role="tabpanel" aria-labelledby="updates-tab">
            <!-- Content for Updates panel -->

            <div class="row flex-grow-1">

                <table class="table table-striped table-responsive " style="height: fit-content;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let update of softwareupdatelist; let i = index"
                            [class.selected]="selectedSwUpdate === update" (click)="selectUpdate(update)">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ update.id }}</td>
                            <td>{{ update.description }}</td>
                            <td>{{ update.date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="installed" role="tabpanel" aria-labelledby="installed-tab">
            <!-- Content for Installed panel -->
            dfgdsfg
            dfgdsfg
        </div>



    </div>

    <div class="row justify-content-center" style="width: 100%; height: 40px;">
        <div class="col d-flex justify-content-between">
            <button class="btn btn-primary flex-fill mx-2">Import From USB</button>
            <button class="btn btn-primary flex-fill mx-2">Install</button>
            <button class="btn btn-primary flex-fill mx-2">Rollback</button>
            <button class="btn btn-primary flex-fill mx-2">Export</button>
            <button class="btn btn-primary flex-fill mx-2">Export All</button>
            <button class="btn btn-primary flex-fill mx-2">View Report</button>
        </div>
    </div>



</div>