/* .menu {
  list-style-type: none;
  padding: 0;
}

.menu>li {
  background-color: #007FFF;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.menu>li:focus,
.menu>li:active {
  background-color: darkblue;
}

.menu>li ul {
  list-style-type: none;
  background-color: #007FFF;
  padding: 0;
  margin: 1;
}

.menu>li ul>li {
  background-color: lightblue;
  color: black;
  padding: 0px;
  margin: 1px;
}

.menu>li:hover {
  background-color: darkblue;
} */

.reduced-width {
  width: 90% !important;
}

.reduced-width-button {
  width: 90%;
}