.menu {
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;

  background: azure;
  padding: 10px;
}

.menu button {
  background-color: #007FFF;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
}

.menu button.active {
  background-color: darkblue;
}

.reduced-width {
  width: 90% !important;
}

.reduced-width-button {
  width: 90%;
}