<div class="main-layout">
    <div class="row">
        <h2>Alarm List</h2>

        <!-- <p-table [value]="alarmlist">
        <ng-template pTemplate="header">
            <tr>
              <th class="pr-column-header">Id</th>
              <th class="pr-column-header">Date</th>
                <th class="pr-column-header">Time Stamp</th>
                <th class="pr-column-header">Description</th>
                <th class="pr-column-header">Status</th>
                <th class="pr-column-header">MCa</th>
                <th class="pr-column-header">ACe</th>
                <th class="pr-column-header">Ack</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alarm>
            <tr>
              <td class="pr-column">{{alarm.id}}</td>
                <td class="pr-column">{{alarm.date}}</td>
                <td class="pr-column">{{alarm.time}}</td>
                <td class="pr-column">{{alarm.description}}</td>
                <td class="pr-column">{{alarm.status}}</td>
                <td class="pr-column">{{alarm.mca}}</td>
                <td class="pr-column">{{alarm.ace}}</td>
                <td class="pr-column">{{alarm.ack}}</td>
            </tr>
        </ng-template>
      </p-table>
      <br> -->


    </div>
</div>